In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)

# Pandas Data Structures
## Series
A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

Series：一维数组，与Numpy中的一维array类似。二者与Python基本的数据结构List也很相近，其区别是：List中的元素可以是不同的数据类型，而Array和Series中则只允许存储相同的数据类型，这样可以更有效的使用内存，提高运算效率。

In [2]:
counts = pd.Series([14, 14, 41234, 234, 3456, 902, np.nan])
counts

0       14.0
1       14.0
2    41234.0
3      234.0
4     3456.0
5      902.0
6        NaN
dtype: float64

In [3]:
counts.values

array([  1.40000000e+01,   1.40000000e+01,   4.12340000e+04,
         2.34000000e+02,   3.45600000e+03,   9.02000000e+02,
                    nan])

如果创建 Series 时 index 未指定，则默认采用 Interger 类型的 index

In [4]:
counts.index

RangeIndex(start=0, stop=7, step=1)

创建 Series 时 index 可以指定特定 meaningful labels 作为 index:

In [5]:
bacteria = pd.Series(data=[632, 1638, 569, 115],
                     index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])
bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

可以根据 index 获取 Series 的 value

In [6]:
print counts[0], ', ', bacteria['Firmicutes']

14.0 ,  632

In [7]:
[name.endswith('bacteria') for name in bacteria.index]

[False, True, True, False]

In [8]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

虽然指定了特定 label 的 index，但还可以通过 interger 类型的下标访问

In [9]:
print bacteria[0], ', ', bacteria['Firmicutes']

632 ,  632

可以指定 Series 的 values 数组 和 index 所表示的含义

In [10]:
bacteria.name = "细菌数量"
bacteria.index.name = '细菌种类'
bacteria
# 或可以创建时指定 name
# s = pd.Series(np.random.randn(5), name='something')

细菌种类
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: 细菌数量, dtype: int64

可以对 Series 数据结构的 value 应用 numpy 的 math 函数，结果仍然为 Series

In [11]:
np.log(bacteria)

细菌种类
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacteroidetes     4.744932
Name: 细菌数量, dtype: float64

可以对 Series 的 value 进行过滤

In [12]:
bacteria[bacteria.values > 100]

细菌种类
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: 细菌数量, dtype: int64

Series 类似与 ndarray， 可以进行分片等操作

In [13]:
print bacteria[-1]
print '---------------------------'
print bacteria[:3]
print '---------------------------'
print bacteria[bacteria > bacteria.median()]

115
---------------------------
细菌种类
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Name: 细菌数量, dtype: int64
---------------------------
细菌种类
Firmicutes         632
Proteobacteria    1638
Name: 细菌数量, dtype: int64

Series 可以看出一个存储 key-value 的数据结构，我们可以从一个 python 的 dict 创建一个 Series，且创建的 Series 会按照键值排序

In [14]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569, 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

可以对传入的 dict 作筛选，对于未包含的 key， 其值为 NaN

In [15]:
bacteria1 = pd.Series(bacteria_dict, index=['Firmicutes','Proteobacteria','Actinobacteria'])
bacteria1

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
dtype: int64

In [16]:
bacteria2 = pd.Series(bacteria_dict, index=['otherkey', 'Firmicutes','Proteobacteria','Actinobacteria'])
bacteria2

otherkey             NaN
Firmicutes         632.0
Proteobacteria    1638.0
Actinobacteria     569.0
dtype: float64

In [17]:
bacteria2.isnull()

otherkey           True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

当用于与其他系列对象的操作时，标签用于**对齐数据**，如进行相同标签数据求和。

In [18]:
bacteria1 + bacteria2

Actinobacteria    1138.0
Firmicutes        1264.0
Proteobacteria    3276.0
otherkey             NaN
dtype: float64

## DataFrame
DataFrame 是一个二维标记的数据结构，可以包含不同类型的列，类似与一个表格、SQL表或是一个 Series 类型的 dict，是 pandas 中最常用的数据结构。

In [19]:
# 每列要包含相同长度的 array ： arrays must all be same length
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

创建的 DataFrame 默认通过 column 排序，可以通过指定 index 显示的顺序：

In [20]:
data[['value','phylum','patient']]

   value          phylum  patient
0    632      Firmicutes        1
1   1638  Proteobacteria        1
2    569  Actinobacteria        1
3    115   Bacteroidetes        1
4    433      Firmicutes        2
5   1130  Proteobacteria        2
6    754  Actinobacteria        2
7    555   Bacteroidetes        2

In [21]:
data.columns

Index([u'patient', u'phylum', u'value'], dtype='object')

In [22]:
data[data.columns]

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

可以通过 `data.column` 或 `data['column']` 获取指定列的数据

In [23]:
print data.phylum
print '-----------------------'
print data['phylum']
print type(data.phylum)

0        Firmicutes
1    Proteobacteria
2    Actinobacteria
3     Bacteroidetes
4        Firmicutes
5    Proteobacteria
6    Actinobacteria
7     Bacteroidetes
Name: phylum, dtype: object
-----------------------
0        Firmicutes
1    Proteobacteria
2    Actinobacteria
3     Bacteroidetes
4        Firmicutes
5    Proteobacteria
6    Actinobacteria
7     Bacteroidetes
Name: phylum, dtype: object
<class 'pandas.core.series.Series'>

In [24]:
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

可以通过 DataFrame 的 **ix** 属性获取每一行的数据，且支持分片操作：

In [25]:
print data.ix[0]
print '---------------------------------'
print data.ix[2:5]

patient             1
phylum     Firmicutes
value             632
Name: 0, dtype: object
---------------------------------
   patient          phylum  value
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130

可通过一个 dict of ditcs 创建一个复杂结构的 DataFrame

In [26]:
data = pd.DataFrame({'0': {'patient': 1, 'phylum': 'Firmicutes', 'counts': 632},
                     '1': {'patient': 1, 'phylum': 'Proteobacteria', 'counts': 1638},
                     '2': {'patient': 1, 'phylum': 'Actinobacteria', 'counts': 569},
                     '3': {'patient': 1, 'phylum': 'Bacteroidetes', 'counts': 115},
                     '4': {'patient': 2, 'phylum': 'Firmicutes', 'counts': 433},
                     '5': {'patient': 2, 'phylum': 'Proteobacteria', 'counts': 1130},
                     '6': {'patient': 2, 'phylum': 'Actinobacteria', 'counts': 754},
                     '7': {'patient': 2, 'phylum': 'Bacteroidetes', 'counts': 555}})
data

,0,1,2,3,4,5,6,7
counts,632,1638,569,115,433,1130,754,555
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes

In [27]:
data = data.T
data

  counts patient          phylum
0    632       1      Firmicutes
1   1638       1  Proteobacteria
2    569       1  Actinobacteria
3    115       1   Bacteroidetes
4    433       2      Firmicutes
5   1130       2  Proteobacteria
6    754       2  Actinobacteria
7    555       2   Bacteroidetes

In [28]:
vals = data['counts']
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: counts, dtype: object

In [29]:
# 会修改内存中的数据，同时修改原始的 DataFrame 的数据
vals[0] = 1000
print vals
print '------------------------------------------------------------------'
print data

0    1000
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: counts, dtype: object
------------------------------------------------------------------
  counts patient          phylum
0   1000       1      Firmicutes
1   1638       1  Proteobacteria
2    569       1  Actinobacteria
3    115       1   Bacteroidetes
4    433       2      Firmicutes
5   1130       2  Proteobacteria
6    754       2  Actinobacteria
7    555       2   Bacteroidetes

In [30]:
# copy 之后在对其修改，由于是不同的内存空间，所以 DataFrame 不会被修改
vals = data.counts.copy()
vals[0] = -1
print vals
print '------------------------------------------------------------------'
print data

0      -1
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: counts, dtype: object
------------------------------------------------------------------
  counts patient          phylum
0   1000       1      Firmicutes
1   1638       1  Proteobacteria
2    569       1  Actinobacteria
3    115       1   Bacteroidetes
4    433       2      Firmicutes
5   1130       2  Proteobacteria
6    754       2  Actinobacteria
7    555       2   Bacteroidetes

可以通过赋值的方式新增或修改一列数据。
注意**新增一列只能通过 data['new_column'] 的方式**，而不能通过 data.new_column

In [31]:
data['year'] = 2017
# 虽不会报错，但不能添加一列
data.month = 1
data

  counts patient          phylum  year
0   1000       1      Firmicutes  2017
1   1638       1  Proteobacteria  2017
2    569       1  Actinobacteria  2017
3    115       1   Bacteroidetes  2017
4    433       2      Firmicutes  2017
5   1130       2  Proteobacteria  2017
6    754       2  Actinobacteria  2017
7    555       2   Bacteroidetes  2017

新增的一列可以是一个 Series

In [32]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [33]:
data['treatment'] = treatment
data

  counts patient          phylum  year  treatment
0   1000       1      Firmicutes  2017        NaN
1   1638       1  Proteobacteria  2017        NaN
2    569       1  Actinobacteria  2017        NaN
3    115       1   Bacteroidetes  2017        NaN
4    433       2      Firmicutes  2017        NaN
5   1130       2  Proteobacteria  2017        NaN
6    754       2  Actinobacteria  2017        NaN
7    555       2   Bacteroidetes  2017        NaN

对于 python 的其他数据类型，添加列时，其长度需要匹配否则会报错

In [34]:
month = ['1', '2', '3', '4', '5', '6', '7', '8']
data['month'] = month

In [35]:
data

  counts patient          phylum  year  treatment month
0   1000       1      Firmicutes  2017        NaN     1
1   1638       1  Proteobacteria  2017        NaN     2
2    569       1  Actinobacteria  2017        NaN     3
3    115       1   Bacteroidetes  2017        NaN     4
4    433       2      Firmicutes  2017        NaN     5
5   1130       2  Proteobacteria  2017        NaN     6
6    754       2  Actinobacteria  2017        NaN     7
7    555       2   Bacteroidetes  2017        NaN     8

使用 `del` 输出 DataFrame 的某一列

In [36]:
del data['treatment']
data

  counts patient          phylum  year month
0   1000       1      Firmicutes  2017     1
1   1638       1  Proteobacteria  2017     2
2    569       1  Actinobacteria  2017     3
3    115       1   Bacteroidetes  2017     4
4    433       2      Firmicutes  2017     5
5   1130       2  Proteobacteria  2017     6
6    754       2  Actinobacteria  2017     7
7    555       2   Bacteroidetes  2017     8

可以通过 DataFrame.values 将一个 DataFrame 转化为一个 ndarray 数组:

In [37]:
data.values

array([[1000, 1, 'Firmicutes', 2017, '1'],
       [1638, 1, 'Proteobacteria', 2017, '2'],
       [569, 1, 'Actinobacteria', 2017, '3'],
       [115, 1, 'Bacteroidetes', 2017, '4'],
       [433, 2, 'Firmicutes', 2017, '5'],
       [1130, 2, 'Proteobacteria', 2017, '6'],
       [754, 2, 'Actinobacteria', 2017, '7'],
       [555, 2, 'Bacteroidetes', 2017, '8']], dtype=object)

# Importing data
## Read CSV file

In [41]:
cat data/microbiome.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,1174,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,80
Firmicutes,10,162,3196
Firmicutes,11,372,32
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,96,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

table can be read into a DataFrame using read_csv:
```
pd.read_csv("data/microbiome.csv")
```

In [42]:
microbiome = pd.read_csv('data/microbiome.csv')
microbiome

         Taxon  Patient  Tissue  Stool
0   Firmicutes        1     632    305
1   Firmicutes        2     136   4182
2   Firmicutes        3    1174    703
3   Firmicutes        4     408   3946
4   Firmicutes        5     831   8605
5   Firmicutes        6     693     50
6   Firmicutes        7     718    717
7   Firmicutes        8     173     33
8   Firmicutes        9     228     80
9   Firmicutes       10     162   3196
..         ...      ...     ...    ...
65       Other        6     116      0
66       Other        7     527     12
67       Other        8     357     11
68       Other        9     106     11
69       Other       10      67     14
70       Other       11     203      6
71       Other       12     392      6
72       Other       13      28     25
73       Other       14      12     22
74       Other       15     305     32

[75 rows x 4 columns]

注意 `read_csv` 方法默认第一行为 header。读取 csv 文件时，可以指定参数，如：header，names，index_col。

In [47]:
# header=None 表示 csv 文件第一行不是 header 而是数据
microbiome1 = pd.read_csv('data/microbiome.csv', header=None)
microbiome1

             0        1       2      3
0        Taxon  Patient  Tissue  Stool
1   Firmicutes        1     632    305
2   Firmicutes        2     136   4182
3   Firmicutes        3    1174    703
4   Firmicutes        4     408   3946
5   Firmicutes        5     831   8605
6   Firmicutes        6     693     50
7   Firmicutes        7     718    717
8   Firmicutes        8     173     33
9   Firmicutes        9     228     80
..         ...      ...     ...    ...
66       Other        6     116      0
67       Other        7     527     12
68       Other        8     357     11
69       Other        9     106     11
70       Other       10      67     14
71       Other       11     203      6
72       Other       12     392      6
73       Other       13      28     25
74       Other       14      12     22
75       Other       15     305     32

[76 rows x 4 columns]

`read_csv` 是 `read_table` 的具体简化的函数, 因为 csv 是通用的格式。
注意 `read_table` 方法默认第一行也是 header

In [63]:
microbiome = pd.read_table(filepath_or_buffer='data/microbiome.csv', delimiter=',', header=None)
# 取出前几行记录
microbiome.head()

            0        1       2      3
0       Taxon  Patient  Tissue  Stool
1  Firmicutes        1     632    305
2  Firmicutes        2     136   4182
3  Firmicutes        3    1174    703
4  Firmicutes        4     408   3946

可以通过 `skiprows` 指定读取 csv 文件时跳过哪些行。

In [65]:
microbiome = pd.read_csv('data/microbiome.csv', delimiter=',', skiprows=[0, 1, 2])
microbiome.head()

   Firmicutes  3  1174   703
0  Firmicutes  4   408  3946
1  Firmicutes  5   831  8605
2  Firmicutes  6   693    50
3  Firmicutes  7   718   717
4  Firmicutes  8   173    33

相反，可以通过 nrows 指定从一个大 csv 文件中读取一定行数的数据（index 从0开始）。

In [66]:
microbiome = pd.read_csv('data/microbiome.csv', delimiter=',', nrows=4)
microbiome

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

通过 chunk 进行数据的迭代，用于对大文件的懒加载迭代，而不是将整个文件读入内存。

In [75]:
data_chunk_readers = pd.read_csv("data/microbiome.csv", chunksize=15)
print data_chunk_readers
print '---------------------------------------'
mean_tissue = [chunk for chunk in data_chunk_readers]
for chunk in mean_tissue:
    print chunk
    print '---------------------------------------'

<pandas.io.parsers.TextFileReader object at 0x7f5d05528790>
---------------------------------------
         Taxon  Patient  Tissue  Stool
0   Firmicutes        1     632    305
1   Firmicutes        2     136   4182
2   Firmicutes        3    1174    703
3   Firmicutes        4     408   3946
4   Firmicutes        5     831   8605
5   Firmicutes        6     693     50
6   Firmicutes        7     718    717
7   Firmicutes        8     173     33
8   Firmicutes        9     228     80
9   Firmicutes       10     162   3196
10  Firmicutes       11     372     32
11  Firmicutes       12    4255   4361
12  Firmicutes       13     107   1667
13  Firmicutes       14      96    223
14  Firmicutes       15     281   2377
---------------------------------------
             Taxon  Patient  Tissue  Stool
15  Proteobacteria        1    1638   3886
16  Proteobacteria        2    2469   1821
17  Proteobacteria        3     839    661
18  Proteobacteria        4    4414     18
19  Proteobacteria        5   12044     83
20  Proteobacteria        6    2310     12
21  Proteobacteria        7    3053    547
22  Proteobacteria        8     395   2174
23  Proteobacteria        9    2651    767
24  Proteobacteria       10    1195     76
25  Proteobacteria       11    6857    795
26  Proteobacteria       12     483    666
27  Proteobacteria       13    2950   3994
28  Proteobacteria       14    1541    816
29  Proteobacteria       15    1307     53
---------------------------------------
             Taxon  Patient  Tissue  Stool
30  Actinobacteria        1     569    648
31  Actinobacteria        2    1590      4
32  Actinobacteria        3      25      2
33  Actinobacteria        4     259    300
34  Actinobacteria        5     568      7
35  Actinobacteria        6    1102      9
36  Actinobacteria        7     678    377
37  Actinobacteria        8     260     58
38  Actinobacteria        9     424    233
39  Actinobacteria       10     548     21
40  Actinobacteria       11     201     83
41  Actinobacteria       12      42     75
42  Actinobacteria       13     109     59
43  Actinobacteria       14      51    183
44  Actinobacteria       15     310    204
---------------------------------------
            Taxon  Patient  Tissue  Stool
45  Bacteroidetes        1     115    380
46  Bacteroidetes        2      67      0
47  Bacteroidetes        3       0      0
48  Bacteroidetes        4      85      5
49  Bacteroidetes        5     143      7
50  Bacteroidetes        6     678      2
51  Bacteroidetes        7    4829    209
52  Bacteroidetes        8      74    651
53  Bacteroidetes        9     169    254
54  Bacteroidetes       10     106     10
55  Bacteroidetes       11      73    381
56  Bacteroidetes       12      30    359
57  Bacteroidetes       13      51     51
58  Bacteroidetes       14    2473   2314
59  Bacteroidetes       15     102     33
---------------------------------------
    Taxon  Patient  Tissue  Stool
60  Other        1     114    277
61  Other        2     195     18
62  Other        3      42      2
63  Other        4     316     43
64  Other        5     202     40
65  Other        6     116      0
66  Other        7     527     12
67  Other        8     357     11
68  Other        9     106     11
69  Other       10      67     14
70  Other       11     203      6
71  Other       12     392      6
72  Other       13      28     25
73  Other       14      12     22
74  Other       15     305     32
---------------------------------------

实际中的数据往往时不完整的，可能会丢失部分数据，Pandas 会自动识别出丢失的数据，并标记为通用的符号如 NA、NULL。

In [76]:
pd.read_csv("data/microbiome_missing.csv").head(20)

             Taxon  Patient Tissue    Stool
0       Firmicutes        1    632    305.0
1       Firmicutes        2    136   4182.0
2       Firmicutes        3    NaN    703.0
3       Firmicutes        4    408   3946.0
4       Firmicutes        5    831   8605.0
5       Firmicutes        6    693     50.0
6       Firmicutes        7    718    717.0
7       Firmicutes        8    173     33.0
8       Firmicutes        9    228      NaN
9       Firmicutes       10    162   3196.0
10      Firmicutes       11    372 -99999.0
11      Firmicutes       12   4255   4361.0
12      Firmicutes       13    107   1667.0
13      Firmicutes       14      ?    223.0
14      Firmicutes       15    281   2377.0
15  Proteobacteria        1   1638   3886.0
16  Proteobacteria        2   2469   1821.0
17  Proteobacteria        3    839    661.0
18  Proteobacteria        4   4414     18.0
19  Proteobacteria        5  12044     83.0

Pandas recognized NA and an empty field as missing data.

In [77]:
pd.isnull(pd.read_csv("data/microbiome_missing.csv").head(20))

    Taxon Patient Tissue  Stool
0   False   False  False  False
1   False   False  False  False
2   False   False   True  False
3   False   False  False  False
4   False   False  False  False
5   False   False  False  False
6   False   False  False  False
7   False   False  False  False
8   False   False  False   True
9   False   False  False  False
10  False   False  False  False
11  False   False  False  False
12  False   False  False  False
13  False   False  False  False
14  False   False  False  False
15  False   False  False  False
16  False   False  False  False
17  False   False  False  False
18  False   False  False  False
19  False   False  False  False

我们可以通过 na_values 指定何种类型的数据为异常数据，将其标记为缺失的数据。

In [78]:
pd.read_csv('data/microbiome_missing.csv', na_values=['?', -99999]).head(20)

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

## Read Microsoft Excel
需要安装 `xlrd` 和 `openpyxl`。

In [79]:
mb_file = pd.ExcelFile('data/microbiome/MID1.xls')
mb_file

In [80]:
mb_sheet1 = mb_file.parse(sheetname='Sheet 1', header=None)
mb_sheet1

                                                     0     1
0    Archaea "Crenarchaeota" Thermoprotei Desulfuro...     7
1    Archaea "Crenarchaeota" Thermoprotei Desulfuro...     2
2    Archaea "Crenarchaeota" Thermoprotei Sulfoloba...     3
3    Archaea "Crenarchaeota" Thermoprotei Thermopro...     3
4    Archaea "Euryarchaeota" "Methanomicrobia" Meth...     7
5    Archaea "Euryarchaeota" "Methanomicrobia" Meth...     1
6    Archaea "Euryarchaeota" "Methanomicrobia" Meth...     1
7    Archaea "Euryarchaeota" Archaeoglobi Archaeogl...     1
8    Archaea "Euryarchaeota" Archaeoglobi Archaeogl...     1
9    Archaea "Euryarchaeota" Halobacteria Halobacte...     1
..                                                 ...   ...
262  Bacteria "Synergistetes" Synergistia Synergist...     1
263  Bacteria "Synergistetes" Synergistia Synergist...     1
264  Bacteria "Tenericutes" Mollicutes Haloplasmata...     1
265  Bacteria "Thermodesulfobacteria" Thermodesulfo...     1
266  Bacteria "Thermotogae" Thermotogae Thermotogal...     7
267  Bacteria "Thermotogae" Thermotogae Thermotogal...     9
268  Bacteria "Verrucomicrobia" Opitutae Opitutales...     1
269  Bacteria Cyanobacteria Cyanobacteria  Chloropl...     2
270  Bacteria Cyanobacteria Cyanobacteria  Chloropl...    85
271  Bacteria Cyanobacteria Cyanobacteria  Chloropl...  1388

[272 rows x 2 columns]

In [83]:
# 指定读取的 excel 列名
mb_sheet1.columns = ['Taxon', 'Count']
mb_sheet1.head(20)

                                                Taxon  Count
0   Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7
1   Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2
2   Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3
3   Archaea "Crenarchaeota" Thermoprotei Thermopro...      3
4   Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7
5   Archaea "Euryarchaeota" "Methanomicrobia" Meth...      1
6   Archaea "Euryarchaeota" "Methanomicrobia" Meth...      1
7   Archaea "Euryarchaeota" Archaeoglobi Archaeogl...      1
8   Archaea "Euryarchaeota" Archaeoglobi Archaeogl...      1
9   Archaea "Euryarchaeota" Halobacteria Halobacte...      1
10  Archaea "Euryarchaeota" Halobacteria Halobacte...      4
11  Archaea "Euryarchaeota" Halobacteria Halobacte...      1
12  Archaea "Euryarchaeota" Halobacteria Halobacte...      2
13  Archaea "Euryarchaeota" Halobacteria Halobacte...      4
14  Archaea "Euryarchaeota" Methanococci Methanoco...      1
15  Archaea "Euryarchaeota" Methanopyri Methanopyr...     12
16  Archaea "Euryarchaeota" Thermoplasmata Thermop...      2
17  Bacteria "Actinobacteria" Actinobacteria Actin...      2
18  Bacteria "Actinobacteria" Actinobacteria Actin...      1
19  Bacteria "Actinobacteria" Actinobacteria Actin...      1

Pandas 提供了一个方便的方法用于读取 excel 文件`read_excel`，将上述操作进行了整合。

In [88]:
mb1_sheet1 = pd.read_excel('data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb1_sheet1.columns = ['Taxon', 'Count']
mb1_sheet1.head()

                                               Taxon  Count
0  Archaea "Crenarchaeota" Thermoprotei Acidiloba...      2
1  Archaea "Crenarchaeota" Thermoprotei Acidiloba...     14
2  Archaea "Crenarchaeota" Thermoprotei Desulfuro...     23
3  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      1
4  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2